.coin {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	border: 1px solid white;
	border-radius: 15px;
	padding: 15px;

	&__name {
		margin-bottom: 15px;
	}

	&__icon {
		width: 100px;
		height: 100px;
	}
}
